name: Auto Attendance Bot

on:
  schedule:
    - cron: "55 23 * * *"   # 07:30 AM Vietnam (00:30 UTC)
    - cron: "5 14 * * *"   # 09:05 PM Vietnam (14:05 UTC)
  workflow_dispatch:  # allows manual run

permissions:
  contents: read

jobs:
  run-attendance:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Run attendance bot
      run: |
        python test.py
